<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riccardo's Pizzeria</title>
    <th:block th:insert="~{fragment::style}"></th:block>
    <script th:src="@{/js/script.js}"></script>
</head>
    <nav class="pt-4">
        <div class="row justify-content-start align-items-center">
            <div class="col">
               <span class="fs-3">Aggiungi una pizza...</span>
            </div> 
            <div class="col-3">
                <button type="button" class="btn"><a th:href="@{/}">home</a></button>
            </div>
        </div>
    </nav>
    <body class="container" >
        <th:block th:insert="~{fragment::form(pizza=${pizza})}"></th:block> 
    </body>
</html>