<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riccardo's Pizzeria</title>
    <th:block th:insert="~{fragment::style}"></th:block>
</head>
    <body class="container"> 
        <div class="row pt-4">
            <h1>Offerte per la pizza [[${offert.pizza.getName()}]]</h1>
            <form th:action="${flag}? @{/offerts/update/{id}(id=${offert.getId()})} : @{/offerts/create}" th:object="${offert}" id="form" method="post">
                <div class="col">
                    <span class="pe-4 fs-5">Titolo dell'offerta</span>
                    <input type="text" th:field="*{title}" placeholder="titolo..." />
                     <ul th:if="${#fields.hasErrors('title')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}">...</li>
                    </ul> 
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Inizio</span>
                    <input type="date" th:field="*{start}" placeholder="start..." />
                     <ul th:if="${#fields.hasErrors('start')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('start')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Fine</span>
                    <input type="date" th:field="*{end}" placeholder="end..." />
                    <ul th:if="${#fields.hasErrors('end')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('end')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">  
                    <input type="text" class="d-none" th:field="*{pizza}"/>
                </div>
                <div class="col pt-4"><button class="btn btn-success">Invia</button></div>
            </form>
        </div>
    </body>
</html>



