<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riccardo's Pizzeria</title>
    <th:block th:insert="~{fragment::style}"></th:block>
    <script th:src="@{/js/script.js}"></script>
</head>
    <nav class="pt-4">
        <div class="row justify-content-start align-items-center">
            <div class="col">
               <span class="fs-3">Il nostro menu</span>
            </div>
            <div class="col">
              <div class="row justify-content-center">
                <div class="col">
                  <form action="/pizzas" id="searchForm" onkeyup="search()">
                    <div class="input-group">
                      <input type="text" name="nome" class="form-control" placeholder="Cerca una pizza..." th:value="${nome}" aria-describedby="button-addon2">
                      <button class="btn btn-outline-info" type="submit" id="button-addon2">azzera filtro</button>
                    </div>
                  </form>
                </div>
              </div>
              
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-secondary"><a th:href="@{/}" class="text-decoration-none ">home</a></button>
                <button type="button" class="btn btn-info"><a th:href="@{/pizzas/create}" class="text-decoration-none ">aggiungi una pizza</a></button>
            </div>
        </div>
    </nav>
    <body class="container"> 
        <div class="row g-5 pt-4 card-group pb-4">
          <th:block th:if="${pizzas != null}">
            <th:block th:each="pizza : ${pizzas}" th:insert="~{fragment::card(pizza)}"></th:block>
          </th:block>
          <th:block th:if="${pizzas == null}">
            <div class="col">stiamo rivedendo il nostro menu! torna a ritrovarci!..</div>
          </th:block>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>