<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:fragment="style">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>

</head>
<h1 th:fragment="pageHeader(nome)" class="pt-4">Best of the year by <span th:text="${nome}"></span></h1>

<body>

    <th:block th:fragment="card(pizza)">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100">
                <img th:src="@{./img/{image}(image=${pizza.getUrl()})}" class="card-img-top img-fluid h-100">
                <div class="card-body">
                    <div class="row flex-row flex-justify-content-between row-gap-3">
                        <div class="col">
                            <a th:href="@{/pizzas/{id}(id=${pizza.getId()})}" th:text="${pizza.getName()}"
                                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"></a>
                        </div>
                        <div class="d-flex gap-2">
                            <a th:href="@{/pizzas/update/{id}(id=${pizza.getId()})}"
                                class="btn btn-success flex-fill">
                                Aggiorna
                            </a>
                             <button class="btn btn-danger flex-fill" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#modal-' + ${pizza.getId()}">
                                Elimina
                            </button>
                            <div class="modal fade" th:id="'modal-' + ${pizza.getId()}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Attenzione</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Sicuro di voler eliminare la pizza? Non si torna indietro...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Annulla</button>
                                            <form th:action="@{/pizzas/delete/{id}(id=${pizza.getId()})}" method="post">
                                                <button type="submit" class="btn btn-danger">Conferma
                                                    Eliminazione</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="addForm(pizza)">
        <div class="row pt-4">
            <form th:action="@{/pizzas/create}" th:object="${pizza}" id="form" method="post">
                <div class="col">
                    <span class="pe-4 fs-5">Nome della pizza</span>
                    <input type="text" th:field="*{name}" placeholder="nome..." />
                    <ul th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Ingredienti</span>
                    <input type="text" th:field="*{description}" placeholder="ingredienti..." />
                    <ul th:if="${#fields.hasErrors('description')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Prezzo</span>
                    <input type="text" th:field="*{price}" placeholder="prezzo..." />
                    <ul th:if="${#fields.hasErrors('price')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Immagine</span>
                    <input type="text" th:field="*{url}" placeholder="foto..." />
                    <ul th:if="${#fields.hasErrors('url')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('url')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col pt-4"><button class="btn btn-success">Invia</button></div>
            </form>
        </div>
    </th:block>

    <th:block th:fragment="updateForm(pizza)">
        <div class="row pt-4">
            <form th:action="@{/pizzas/update/{id}(id=${pizza.getId()})}" th:object="${pizza}" id="form" method="post">
                <div class="col">
                    <span class="pe-4 fs-5">Nome della pizza</span>
                    <input type="text" th:field="*{name}" placeholder="nome..." />
                    <ul th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Ingredienti</span>
                    <input type="text" th:field="*{description}" placeholder="ingredienti..." />
                    <ul th:if="${#fields.hasErrors('description')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Prezzo</span>
                    <input type="text" th:field="*{price}" placeholder="prezzo..." />
                    <ul th:if="${#fields.hasErrors('price')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col">
                    <span class="pe-4 fs-5">Immagine</span>
                    <input type="text" th:field="*{url}" placeholder="foto..." />
                    <ul th:if="${#fields.hasErrors('url')}" class="text-danger">
                        <li th:each="err : ${#fields.errors('url')}" th:text="${err}">...</li>
                    </ul>
                </div>
                <div class="col pt-4"><button class="btn btn-success">Invia</button></div>
            </form>
        </div>
    </th:block>
</body>

</html>