<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:fragment="style">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
     
</head>
<h1 th:fragment="pageHeader(nome)" class="pt-4">Best of the year by <span th:text="${nome}"></span></h1>
<body>
    <th:block th:fragment="card(pizza)" th:with="image=${pizza.getImage()}">
    <a th:href="@{/pizzas/{id}(id=${pizza.getId()})}">
      <div class="card" style="width: 18rem;">
       <img th:src="@{img/image}" class="card-img-top">
       <div class="card-body">
         <p class="card-text" th:text="${pizza.getName()}"></p>
       </div>
      </div>
    </a>
    </th:block>
</body>
</html>